<div class="row">
    <div class="col-12">
        <h1>Filter list</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <a asp-controller="Orders" asp-action="Create" class="btn btn-primary">Add product</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mt-5 border-primary shadow-sm">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table id="patients-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Име на клиента</th>
                                <th>Модел на продукта</th>
                                <th>Марка на продукта</th>
                                <th>Дата на регистрация</th>
                                <th>Тип поправка</th>
                                <th>Статус на поръчката</th>
                                <th>Бележки</th>
                                <th>Опции</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/datatables/datatables.min.js"></script>
    <script>
        function loadDataTable() {
            $("#patients-table").DataTable({
                processing: true,
                ordering: true,
                serverSide: true,
                paging: true,
                pageLength: 5,
                bSortCellsTop: true,
                sDom: 'tp', // remove default search box: https://stackoverflow.com/questions/29769968/remove-default-search-box-and-add-custom-one-in-jquery-datatable
                ajax: {
                    url: '/Order/Get'
                },
                language: {
                    //_MAX_ is the total number of records in the complete data set, regardless of paging and filtering
                    //_TOTAL_ is the total number of records in the data set, regardless of paging, but including filtering
                    sEmptyTable: "There is no table data",
                    sInfo: "Показване на записи от _START_ до _END_ от _TOTAL_ записа.",
                    sInfoEmpty: "Показани са от 0 до 0 от 0 записа",
                    sInfoFiltered: "(Филтрирани от _MAX_ записа)",
                    sInfoPostFix: "",
                    sInfoThousands: ",",
                    sLengthMenu: "Показване на _MENU_ записа",
                    sSearch: "Търсене:",
                    sZeroRecords: "Няма намерени попадения...",
                    // "oPaginate": {
                    //     "sFirst": "Начало",
                    //     "sLast": "Край",
                    //     "sNext": "Следващ",
                    //     "sPrevious": "Предишен"
                    // },
                    oAria: {
                        sSortAscending: ": Активирайте дисплея във възходящ ред",
                        sSortDescending: ": Активирайте дисплея в низходящ ред"
                    }
                },
                initComplete: function () {
                    this.api()
                        .columns([0, 1, 2, 3, 4, 5, 6])
                        .every(function () {
                            let column = this;
                            let title = column.header(0).textContent;

                            //Create input element
                            let input = document.createElement('input');
                            input.style.width = '100%';
                            input.placeholder = title;
                            column.header(1).replaceChildren(input);

                            //Event listener for user input
                            input.addEventListener('keyup', () => {
                                if (column.search() !== this.value)
                                    column.search(input.value).draw();
                            });
                        });
                },
                columnDefs: [
                    // Center align the header content of column 1
                    { className: "dt-head-center", targets: [0, 1] },
                    // Center align the body content of columns 0, 1
                    { className: "dt-body-right", targets: [0, 1] }
                ],
                columns: [
                    { data: 'clientName', width: '45%' },
                    { data: 'productBrand', width: '45%' },
                    { data: 'productModel', width: '45%' },
                    { data: 'registrationDate', width: '45%', orderable: true },
                    { data: 'repairType', width: '45%' },
                    { data: 'orderStatus', width: '45%' },
                    { data: 'additionalNotes', width: '45%', defaultContent: '' },
                    {
                        data: 'id',
                        orderable: 'false',
                        render: function (data, type, row, meta) {
                            console.log('penad')
                            return `<div class="d-flex flex-row justify-content-center gap-2">
                                    <a class="btn btn-warning" href="/Order/Update/${data}" title="Редактиране">
                                    <i class="bi bi-pencil-square"></i></a>
                                    <form method="post" action="/Order/Delete" onsubmit="return confirm('Do you really want to delete ${row.name}');">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="Id" value="${data}" />
                                            <button class="btn btn-danger" type="submit">
                                        <i class="bi bi-trash3-fill"></i></button>
                                    </form>
                                </div>`;
                        },
                    }
                ]
            }
            );
        }

        $(document).ready(function () {
            loadDataTable();
        });
    </script>
}